name: iOS starter workflow

on:
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.4"

      - name: Build iOS App
        run: |
          xcodebuild \
            -project BudgetBook.xcodeproj \
            -scheme BudgetBook \
            -sdk iphonesimulator \
            build

      - name: Run package tests
        run: |
          xcodebuild \
            -project BudgetBook.xcodeproj \
            -scheme BudgetBook \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 15' \
            clean test
