name: iOS starter workflow

on:
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build iOS App
        run: |
          xcodebuild build \
            -scheme BudgetBook \
            -destination 'platform=iOS Simulator,name=iPhone 16 Pro' \
            CODE_SIGNING_ALLOWED=NO

      - name: Run AppFeatureTests
        run: |
          xcodebuild test \
            -scheme AppFeatureTests \
            -destination 'platform=iOS Simulator,name=iPhone 16 Pro' \
            CODE_SIGNING_ALLOWED=NO

      - name: Run CoreTests
        run: |
          xcodebuild test \
            -scheme CoreTests \
            -destination 'platform=iOS Simulator,name=iPhone 16 Pro' \
            CODE_SIGNING_ALLOWED=NO

      - name: Run HomeFeatureTests
        run: |
          xcodebuild test \
            -scheme HomeFeatureTests \
            -destination 'platform=iOS Simulator,name=iPhone 16 Pro' \
            CODE_SIGNING_ALLOWED=NO

      - name: Run IncomeFeatureTests
        run: |
          xcodebuild test \
            -scheme IncomeFeatureTests \
            -destination 'platform=iOS Simulator,name=iPhone 16 Pro' \
            CODE_SIGNING_ALLOWED=NO
