Githubname: iOS starter workflow

on:
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Xcode version
        run: sudo xcode-select -s /Applications/Xcode_16.4.app

      - name: Build and Test iOS App
        run: |
          xcodebuild test \
            -scheme BudgetBook \
            -destination 'platform=iOS Simulator,name=iPhone 17 Pro' \
            -only-testing:BudgetBookPackage \
            CODE_SIGNING_ALLOWED=NO
