name: iOS starter workflow

on:
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.4"

      - name: Run CoreTests
        run: |
          xcodebuild test \
            -project BudgetBook.xcodeproj \
            -scheme CoreTests \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 15' \
            -skipMacroValidation

      - name: Run HomeFeatureTests
        run: |
          xcodebuild test \
            -project BudgetBook.xcodeproj \
            -scheme HomeFeatureTests \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 15' \
            -skipMacroValidation

      - name: Run AppFeatureTests
        run: |
          xcodebuild test \
            -project BudgetBook.xcodeproj \
            -scheme AppFeatureTests \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 15' \
            -skipMacroValidation

      - name: Run IncomeFeatureTests
        run: |
          xcodebuild test \
            -project BudgetBook.xcodeproj \
            -scheme IncomeFeatureTests \
            -sdk iphonesimulator \
            -destination 'platform=iOS Simulator,name=iPhone 15' \
            -skipMacroValidation
