name: iOS starter workflow

on:
  pull_request:
    branches: [ "**" ]

jobs:
  test:
    name: Test default scheme using any available iPhone simulator
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Xcode version
        run: sudo xcode-select -s /Applications/Xcode_16.4.app

    ã€€- name: Run package tests
        working-directory: BudgetBookPackage
        run: swift test
