name: iOS starter workflow

on:
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Xcode version
        run: sudo xcode-select -s /Applications/Xcode_16.4.app

      - name: Build iOS App
        working-directory: BudgetBookPackage
        run: xcodebuild
              -scheme BudgetBook
              -sdk iphonesimulator
              build

      - name: Run package tests
        working-directory: BudgetBookPackage
        run: xcodebuild
              -scheme BudgetBook
              -sdk iphonesimulator
              -destination 'platform=iOS Simulator,name=iPhone 15'
              clean test
              
